{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>;.
}}

{{!
    @template mod_gitlab/teacher_template

    Template for teacher template
}}

<div class="box py-3 card-columns">
<h2>Template</h2>
<div class="card">
    <div class="card-body d-flex flex-column">
        <div class="d-flex align-items-center">
            <a
                role="button"
                data-bs-toggle="collapse"
                data-for="sectiontoggler"
                href="#collapsetemplate"
                aria-controls="collapsetemplate"
                aria-expanded="false"
                class="btn btn-icon me-3 icons-collapse-expand collapsed"
            >
                <span class="expanded-icon icon-no-margin p-2" title="Collapse">
                    <i class="icon fa fa-chevron-down fa-fw"></i>
                    <span class="visually-hidden">Collapse</span>
                </span>
                <span class="collapsed-icon icon-no-margin p-2" title="Expand">
                    <i class="icon fa fa-chevron-right fa-fw"></i>
                    <span class="visually-hidden">Expand</span>
                </span>
            </a>
            <h5 class="mb-0 flex-grow-1">
                <a class="card-title" href={{repository_url}} target="_blank">{{name}}</a>
            </h5>
        </div>
        
        <div id="collapsetemplate" class="collapse">
            <div class="d-grid gap-3 mt-3" style="grid-template-columns: max-content max-content;">
                <div class="d-flex align-items-center">
                    <span class="mb-0">Repository</span>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary d-inline-flex align-items-center"
                        href="{{repository_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Repository"
                    >
                        <i class="icon fa fa-globe me-2"></i>
                        Open
                    </a>
                </div>
                
                <div class="d-flex align-items-center">
                    <span class="mb-0">Due date</span>
                </div>
                <div class="d-flex align-items-center">
                    <span class="mb-0">{{due_date}}</span>
                </div>

                <div class="d-flex align-items-center">
                    <span class="mb-0">Skeleton</span>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary d-inline-flex align-items-center"
                        href="{{skeleton_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Skeleton"
                    >
                        <i class="icon fa fa-globe me-2"></i>
                        Open
                    </a>
                </div>
                
                <div class="d-flex align-items-center">
                    <span class="mb-0">Instructions</span>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary d-inline-flex align-items-center"
                        href="{{instruction_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Instructions"
                    >
                        <i class="icon fa fa-globe me-2"></i>
                        Open
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <span class="mb-0">Solution</span>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary d-inline-flex align-items-center"
                        href="{{solution_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Solution"
                    >
                        <i class="icon fa fa-globe me-2"></i>
                        Open
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <span class="mb-0">Reviewers</span>
                </div>
                <div class="d-flex align-items-center gap-2">
                    {{#reviewers}}
                        <i class="mb-0">{{.}}</i>
                    {{/reviewers}}
                </div>

                <div class="d-flex align-items-center">
                    <span class="mb-0">Tests</span>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary d-inline-flex align-items-center"
                        href="{{test_url}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Tests"
                    >
                        <i class="icon fa fa-globe me-2"></i>
                        Open
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>