{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>;.
}}

{{!
    @template mod_gitlab/teacher_group

    Template for teacher group
}}

<div class="d-flex flex-column">
    <div class="d-grid gap-3 mt-3" style="grid-template-columns: auto 1fr auto;">
        {{#js}}
            require(['mod_gitlab/teacher_manage_group'], (module) => module.init({contextId: {{context_id}}, groupId: {{id}}}));
        {{/js}}
        
        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_members, mod_gitlab {{/str}}</span>
        </div>
        <div class="d-flex align-items-center gap-2">
            {{#members}}
                <i class="mb-0">{{.}}</i>
            {{/members}}
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button id="manage-group-members-{{id}}" class="btn btn-primary d-inline-flex align-items-center">
                <i class="icon fa fa-pen me-2"></i>
                {{#str}} template_teacher_group_edit, mod_gitlab {{/str}}
            </button>
        </div>

        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_repository, mod_gitlab {{/str}}</span>
        </div>
        <div></div>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-primary d-inline-flex align-items-center"
                href="{{repository_url}}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Repository"
            >
                <i class="icon fa fa-globe me-2"></i>
                {{#str}} template_teacher_group_open, mod_gitlab {{/str}}
            </a>
        </div>

        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_instructions, mod_gitlab {{/str}}</span>
        </div>
        <div></div>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-primary d-inline-flex align-items-center"
                href="{{instruction_url}}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instructions"
            >
                <i class="icon fa fa-globe me-2"></i>
                {{#str}} template_teacher_group_open, mod_gitlab {{/str}}
            </a>
        </div>

        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_feedbacks, mod_gitlab {{/str}}</span>
        </div>
        <div class="d-flex align-items-center">
            {{#is_graded}}
                <span class="mb-0 badge bg-success">{{#str}} template_teacher_group_graded, mod_gitlab {{/str}}</span>
            {{/is_graded}}
            {{^is_graded}}
                <span class="mb-0 badge bg-danger">{{#str}} template_teacher_group_not_graded, mod_gitlab {{/str}}</span>
            {{/is_graded}}
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-primary d-inline-flex align-items-center"
                href="{{feedback_url}}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Feedbacks"
            >
                <i class="icon fa fa-globe me-2"></i>
                {{#str}} template_teacher_group_open, mod_gitlab {{/str}}
            </a>
        </div>

        {{#has_test_result}}
        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_tests, mod_gitlab {{/str}}</span>
        </div>
        <div class="d-flex align-items-center">
            {{#last_test_pass}}
                <span class="d-inline-block rounded-circle border border-success border-3" style="width: 1.5em; height: 1.5em; background-color: color-mix(in srgb, var(--bs-success) 30%, white);"></span>
            {{/last_test_pass}}
            {{^last_test_pass}}
                <span class="d-inline-block rounded-circle border border-danger border-3" style="width: 1.5em; height: 1.5em; background-color: color-mix(in srgb, var(--bs-danger) 30%, white);"></span>
            {{/last_test_pass}}
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <a class="btn btn-primary d-inline-flex align-items-center"
                href="{{test_url}}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Tests"
            >
                <i class="icon fa fa-globe me-2"></i>
                {{#str}} template_teacher_group_open, mod_gitlab {{/str}}
            </a>
        </div>
        {{/has_test_result}}
        
        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_get_source, mod_gitlab {{/str}}</span>
        </div>
        <div class="d-flex align-items-center">
            {{#is_delayed}}
                <span class="mb-0 badge bg-danger">{{#str}} template_teacher_group_overdue, mod_gitlab {{/str}} ({{delay}})</span>
            {{/is_delayed}}
            {{^is_delayed}}
                <span class="mb-0 badge bg-success">{{#str}} template_teacher_group_on_time, mod_gitlab {{/str}}</span>
            {{/is_delayed}}
        </div>
        <div class="d-flex align-items-center justify-content-end">
            {{#js}}
                require(['mod_gitlab/copy_button'], (module) => module.init("{{id}}"));
            {{/js}}
            
            <div id="code-dropdown-{{id}}" class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Code</button>

                <div class="dropdown-menu p-3">
                    <div class="mb-2">
                        <span>{{#str}} template_teacher_group_clone_ssh, mod_gitlab {{/str}}</span>
                        <div class="input-group input-group-sm">
                            <input class="form-control ssh-input" value="{{ssh_url}}" readonly>
                            <button class="btn btn-outline-primary ssh-button">
                                <i class="icon fa fa-copy me-0"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-2">
                        <span>{{#str}} template_teacher_group_clone_http, mod_gitlab {{/str}}</span>
                        <div class="input-group input-group-sm">
                            <input class="form-control https-input" value="{{https_url}}" readonly>
                            <button class="btn btn-outline-primary https-button">
                                <i class="icon fa fa-copy me-0"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <span>{{#str}} template_teacher_group_checkout_due_date, mod_gitlab {{/str}}</span>
                        <div class="input-group input-group-sm">
                            <input class="form-control checkout-input" value="{{checkout_due_date}}" readonly>
                            <button class="btn btn-outline-primary checkout-button">
                                <i class="icon fa fa-copy me-0"></i>
                            </button>
                        </div>
                    </div>

                    <hr>

                    {{#has_submission_merge_request}}
                    <div>
                        <span>{{#str}} template_teacher_group_checkout_template, mod_gitlab {{/str}}</span>
                        <div class="input-group input-group-sm mb-2">
                            <input class="form-control fetch-mr-input" value="{{fetch_merge_request}}" readonly>
                            <button class="btn btn-outline-primary fetch-mr-button">
                                <i class="icon fa fa-copy me-0"></i>
                            </button>
                        </div>
                        <div class="input-group input-group-sm">
                            <input class="form-control checkout-mr-input" value="{{checkout_merge_request}}" readonly>
                            <button class="btn btn-outline-primary checkout-mr-button">
                                <i class="icon fa fa-copy me-0"></i>
                            </button>
                        </div>
                    </div>

                    <hr>
                    {{/has_submission_merge_request}}

                    <div>
                        <span>{{#str}} template_teacher_group_download_source, mod_gitlab {{/str}}</span>
                        <div class="d-flex gap-2 mt-1">
                            <a class="btn btn-outline-primary d-inline-flex align-items-center text-nowrap"
                                href="{{download_due_date_url}}"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="At due date"
                            >
                                {{#str}} template_teacher_group_at_due_date, mod_gitlab {{/str}}
                            </a>
                            <a class="btn btn-outline-primary d-inline-flex align-items-center text-nowrap"
                                href="{{download_latest_url}}"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="Latest"
                            >
                                {{#str}} template_teacher_group_latest, mod_gitlab {{/str}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <span class="mb-0">{{#str}} template_teacher_group_delete_group, mod_gitlab {{/str}}</span>
        </div>
        <div></div>
        <div class="d-flex align-items-center justify-content-end">
            {{#js}}
                require(['mod_gitlab/confirm_delete_modal'], (module) => module.init({contextId: {{context_id}}, groupId: {{id}}, name: "{{name}}"}));
            {{/js}}

            <button id="delete-group-{{id}}" class="btn btn-primary btn-danger d-inline-flex align-items-center">
                <i class="icon fa fa-trash me-2"></i>
                {{#str}} template_teacher_group_delete, mod_gitlab {{/str}}
            </button>
        </div>
    </div>
</div>